/* Red color = F66A6D */
/* Blue color = 003980 */


:root {

    /* colors */
    --blue: #003980;
    --red: #F66A6D;
    --white: #ffffff;
    --background: #F9F7F7;
    --bigText: 32px;
    --large-text: 24px;
    --medium-text: 18px;
    --small-text: 14px;
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    font-family: "Poppins", sans-serif;
    overflow-y: auto;
    position: relative;

}

/* header */
header {
    max-height: 60px;
    position: fixed;
    z-index: 1;
    height: 70px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-color: var(--white);
}

header .unity {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}


.unity p {
    font-size: var(--large-text);
    font-weight: 500;
    color: var(--blue);
}

.unity p::first-letter {
    color: var(--red);
}

header .navLinks {
    flex-grow: 1;

}

header .navLinks nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

header .navLinks nav ul li {
    list-style: none;
    margin-right: 30px;
}

header .navLinks nav ul li a {
    text-decoration: none;
    font-family: Arial;
    font-size: var(--small-text);
    font-weight: 400;
    line-height: auto;
    cursor: pointer;
    color: var(--blue);
    font-family: "Poppins", sans-serif;
}

header .navLinks nav ul li a:hover {
    color: var(--red);
    transition: all 0.1s ease-in-out;
}

.toDonate {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.toDonate button,
.member-btn button {
    padding-left: 39px;
    padding-right: 39px;
    padding-bottom: 7px;
    padding-top: 7px;
    color: white;
    font-family: "Poppins", sans-serif;
    background-color: var(--blue);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* margin-right: 30px; */
}

.toDonate button:hover,
.trade button:hover,
.sports button:hover,
.education button:hover,
.read button:hover,
.member-btn button:hover {
    opacity: 0.7;
    transition: all 0.1s ease-in-out;
}

main {
    width: 100%;
}

.below-about-header {
    /* height: 80vh; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    overflow: hidden;
    margin-left: 100px;
}

.left-below-about {
    height: 100%;
    margin-left: 0px;
    margin-right: px;
}

.left-below-about iframe {
    padding: 0;
    margin: 0;
}


.right-below-about {
    height: 100%;
    margin-left: 70px;
    width: 46%;
}

.right-below-about h1 {
    font-size: var(--bigText);
    color: var(--blue);
    margin-top: 20px;
}

.right-below-about p {
    font-size: var(--smallText);
    color: var(--blue);
}

.right-below-about button {
    padding-left: 27px;
    padding-right: 27px;
    padding-bottom: 7px;
    padding-top: 7px;
    color: white;
    background-color: var(--blue);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-size: var(--small-text);
    border: none;
    margin-top: 25px;
}

.right-below-about button:hover {
    opacity: 0.7;
    transition: all 0.1s ease-in-out;
}

.mission-body h1 {
    font-size: var(--bigText);
    color: var(--blue);
    margin-top: 60px;
}

.goals {
    margin-top: 70px;
    margin-left: 126px;
    margin-bottom: 30px;
    display: flex;
    gap: 50px;
}

.mission {
    margin-bottom: 20px;
}


.mission h2,
.vision h2 {
    font-size: var(--medium-text);
    color: var(--blue);
}


.mission p,
.vision p,
.member p {
    font-size: var(--small-text);
    color: var(--blue);
    margin-top: 5px
}




.team,
.team-title {
    margin-left: 126px;
    color: var(--blue);
}


.leaders-container {
    height: 70vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


.leader-one {
    justify-content: center;
    height: 60vh;
    width: 25vw;
    /* background-color: white; */
    margin-right: 30px;
    text-align: center;
    padding-top: 30px;
    /* box-shadow: 4px 4px rgba(246, 105, 109, 0.25); */
    position: relative;
    overflow: hidden;
}

.img-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.121); */
    bottom: 0px;
}

.img-info {
    height: 100px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.212);
    position: absolute;
    bottom: -100px;
    transition: bottom 0.3s ease-in-out;
}

.leader-one:hover .img-info {
    bottom: 0;
    transition: all 0.1s ease-in-out;
}

.img-info h4,
.img-info p {
    text-align: center;
    color: white;
}

footer {
    height: 70vh;
    width: 100vw;
    background-color: #003980;
    margin-top: 100px;
}