/* Red color = F66A6D */
/* Blue color = 003980 */


:root {

    /* colors */
    --blue: #003980;
    --red: #F66A6D;
    --white: #ffffff;
    --background: #F9F7F7;
    --bigText: 32px;
    --large-text: 24px;
    --medium-text: 18px;
    --small-text: 14px;
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    font-family: "Poppins", sans-serif;
    overflow-y: auto;
    position: relative;
}

/* header */
header {
    max-height: 60px;
    position: fixed;
    z-index: 1;
    height: 70px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-color: var(--white);

}

header .unity {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;


}


.unity p {
    font-size: var(--large-text);
    font-weight: 500;
    color: var(--blue);
}

.unity p::first-letter {
    color: var(--red);
}

header .navLinks {
    flex-grow: 1;

}

header .navLinks nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

header .navLinks nav ul li {
    list-style: none;
    margin-right: 30px;
}

header .navLinks nav ul li a {
    text-decoration: none;
    font-family: Arial;
    font-size: var(--small-text);
    font-weight: 400;
    line-height: auto;
    cursor: pointer;
    color: var(--blue);
    font-family: "Poppins", sans-serif;
}

header .navLinks nav ul li a:hover {
    color: var(--red);
    transition: all 0.1s ease-in-out;
}

.toDonate {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.toDonate button {
    padding-left: 39px;
    padding-right: 39px;
    padding-bottom: 7px;
    padding-top: 7px;
    color: white;
    background-color: var(--blue);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    /* margin-right: 30px; */
}

.toDonate button:hover,
.trade button:hover,
.sports button:hover,
.education button:hover,
.read button:hover {
    opacity: 0.7;
    transition: all 0.1s ease-in-out;
    font-family: "Poppins", sans-serif;
}


/* main */


.hero {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    position: relative;
    overflow: hidden;
}

.hero .left-hero {
    height: 100%;
    width: 50%;
    padding-left: 100px;
    padding-top: 150px;
}

.left-hero h1 {
    font-size: var(--bigText);
    color: var(--blue);
}

.left-hero hr {
    margin-bottom: 20px;
    width: 90px;
    border-color: red;
    margin-top: 20px;
}

.left-hero p {
    color: var(--red);
    font-size: var(--small-text);
}

.left-hero .vid {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.left-hero .vid button {
    margin-right: 210px;
    padding-left: 39px;
    padding-right: 39px;
    padding-bottom: 7px;
    padding-top: 7px;
    color: white;
    background-color: var(--blue);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-size: var(--small-text);
}

.left-hero .vid button:hover {
    opacity: 0.7;
    transition: all 0.1s ease-in-out;
}

.left-hero .vid .hero-play {
    display: flex;
    gap: 10px;
    align-items: center;
}

.left-hero .vid .hero-play a {
    text-decoration: none;

}

.left-hero .vid .hero-play-btn {
    height: 40px;
    width: 40px;
    background-color: var(--red);
    opacity: 70%;
    border-radius: 255px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--bigText);

}

.hero-play-btn span {
    color: white;


}

.hero .right-hero {
    height: 100%;
    width: 50%;
    text-align: center;

}


.hero .right-hero img {
    height: 100%;
    margin-left: 35px;
    position: relative;

}


.hero .right-hero .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--background);
    opacity: 20%;
    bottom: 0px;

}



.hero .right-hero .help {
    height: 50px;
    width: 50px;
    background-color: var(--red);
    opacity: 70%;
    position: absolute;
    bottom: 480px;
    border-radius: 255px;
    right: 300px;
}

.hero .right-hero .hero-stat {
    position: absolute;
    height: 200px;
    width: 200px;
    background-color: var(--white);
    text-align: start;
    padding-left: 20px;
    right: 320px;
    bottom: -35px;
    border-radius: 10px;
    box-shadow: -1px 4px 4px -2px rgba(0, 0, 0, 0.486);
}

.hero-stat h1 {
    color: var(--red);
    font-size: var(--bigText);
    margin-top: 20px;
    margin-bottom: 10px;
}

.hero-stat hr {
    width: 50px;
    border-color: var(--red);
    margin-bottom: 15px;
}

.hero-stat p {
    font-size: var(--small-text);
    color: var(--blue);
    font-weight: 600;
}


.video {
    height: 80vh;
    width: 100vw;
    margin-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video iframe {
    width: inherit;
    height: inherit;
}


.belowVideo {
    display: flex;
    margin-bottom: 100px;
    margin-top: 100px;

}

.leftBelow {
    flex-grow: 1;
    margin-left: 100px;
}

.circle {
    display: inline-flex;
    background-color: var(--red);
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-right: 15px;
}


.leftBelow p {
    color: var(--blue);
    font-size: 16px;
    margin-bottom: 20px;
    display: inline-flex;
}

.leftBelow a {
    color: rgba(34, 34, 136, 0.945);
    margin-top: 15px;
    font-size: 16px;
    text-decoration: none;
    display: block;
}


.rightBelow {
    flex-grow: 1;
    margin-left: 139px;
    color: rgba(34, 34, 136, 0.945);
}

.rightBelow h3 {
    margin-bottom: 12px;
}

.rightBelow h1 {
    margin-bottom: 12px;
}

.rightBelow p {
    margin-bottom: 15px;
}

.read button {
    padding-left: 39px;
    padding-right: 39px;
    padding-bottom: 7px;
    padding-top: 7px;
    color: white;
    background-color: var(--blue);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-size: var(--small-text);
    border: none;
}


.education button {
    padding-left: 27px;
    padding-right: 27px;
    padding-bottom: 7px;
    padding-top: 7px;
    color: white;
    background-color: rgba(34, 34, 136, 0.945);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.sports button {
    padding-left: 27px;
    padding-right: 27px;
    padding-bottom: 7px;
    padding-top: 7px;
    color: white;
    background-color: rgba(34, 34, 136, 0.945);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.trade button {
    padding-left: 27px;
    padding-right: 27px;
    padding-bottom: 7px;
    padding-top: 7px;
    color: white;
    background-color: rgba(34, 34, 136, 0.945);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.area,
.logoTitle {
    margin-left: 100px;
    color: rgba(34, 34, 136, 0.945);
}


#focus {
    height: 70vh;
    width: 100vw;
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.education,
.sports,
.trade {
    justify-content: center;
    height: 60vh;
    width: 25vw;
    background-color: white;
    margin-right: 30px;
    text-align: center;
    padding-top: 30px;
    box-shadow: 4px 4px rgba(246, 105, 109, 0.25);
}

.education h1,
.sports h1,
.trade h1 {
    background-color: #f66a6c14;
    display: inline-block;
    border-radius: 200px;
    padding: 5px 10px 5px 10px;

}

.education button {
    margin-top: 40px;
    font-family: "Poppins", sans-serif;
}

.sports button {
    margin-top: 40px;
    font-family: "Poppins", sans-serif;
}

.trade button {
    margin-top: 40px;
    font-family: "Poppins", sans-serif;
}

.education p {
    margin-top: 10px;
    color: #003980;
    font-size: 16px;
}

.sports p {
    margin-top: 10px;
    color: #003980;
    font-size: 16px;
}

.trade p {
    margin-top: 10px;
    color: #003980;
    font-size: 16px;
}

#partnersLogo {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

.worldBank,
.youngAfrica,
.nonHub {
    flex: 1;
    justify-content: center;
    margin-top: 40px;
    margin-left: 90px;
}

.worldBank img,
.youngAfrica img,
.nonHub img {
    width: 170px;
}


footer {
    height: 70vh;
    width: 100vw;
    background-color: #003980;
    margin-top: 100px;
}


.activities-drop{
   height: 220px; 
   width: 200px;
   background-color: #F66A6D;
   position: absolute;
   top: 50px;
   left: 490px;
   display: none;
   position: fixed;
}