/* Red color = F66A6D */
/* Blue color = 003980 */


:root {

    /* colors */
    --blue: #003980;
    --red: #F66A6D;
    --white: #ffffff;
    --background: #F9F7F7;
    --bigText: 32px;
    --large-text: 24px;
    --medium-text: 18px;
    --small-text: 14px;
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    font-family: "Poppins", sans-serif;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}

/* header */
header {
    max-height: 60px;
    position: fixed;
    z-index: 1;
    height: 70px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-color: var(--white);

}

header .unity {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;


}


.unity p {
    font-size: var(--large-text);
    font-weight: 500;
    color: var(--blue);
}

.unity p::first-letter {
    color: var(--red);
}

header .navLinks {
    flex-grow: 1;

}

header .navLinks nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}


header .navLinks nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

header .navLinks nav ul li {
    list-style: none;
    margin-right: 30px;
}

header .navLinks nav ul li a {
    text-decoration: none;
    font-family: Arial;
    font-size: var(--small-text);
    font-weight: 400;
    line-height: auto;
    cursor: pointer;
    color: var(--blue);
    font-family: "Poppins", sans-serif;
    letter-spacing: 0.5px;
    position: relative;
    padding: 0 10px;
}

header .navLinks nav ul li a:after {
    content: "";
    position: absolute;
    background-color: #F66A6D;
    height: 2px;
    width: 0%;
    left: 0;
    bottom: -1px;
}

header .navLinks nav ul li a:hover:after {
    width: 100px;
    transition: all 0.5s ease-in-out;
}

/* header .navLinks nav ul li a:hover {
    color: var(--red);
    transition: all 0.1s ease-in-out;
} */

.toDonate {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.toDonate button {
    padding-left: 39px;
    padding-right: 39px;
    padding-bottom: 7px;
    padding-top: 7px;
    color: white;
    background-color: var(--blue);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    /* margin-right: 30px; */
}

.toDonate button:hover,
.trade button:hover,
.sports button:hover,
.education button:hover,
.read button:hover {
    opacity: 0.7;
    transition: all 0.1s ease-in-out;
    font-family: "Poppins", sans-serif;
}



h2 {
    color: #003980;
    padding-top: 100px;
    font-size: var(--medium-text);
    margin-left: 90px;
}

.ngo-container {
    margin-left: 90px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;
    row-gap: 40px;
}

.image {
    width: 300px;
    background-color: var(--white);
    text-align: center;
}




footer {
    height: 70vh;
    width: 100vw;
    background-color: #003980;
    margin-top: 100px;
}